<!DOCTYPE html>
<html lang="en">

  <head>
    <meta name="description" content="">
    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    {% include base/common_head.tpl %}
    <!-- Photoswipe CSS file -->
    <link rel="stylesheet" href="{{ static_url('vendor/photoswipe/css/photoswipe.css') }}">
    <link rel="stylesheet" href="{{ static_url('vendor/photoswipe/css/default-skin/default-skin.css') }}">
    <style type="text/css">
      /* Chart.js */
      @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}
    </style>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          {% include base/navbar.tpl %}

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
              <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
            </div>

            <!-- Content Row -->
            <div class="row">

              <!-- Images Card -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <a href="../images/" class="stretched-link"></a>
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          Images
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">All Photos</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-camera-retro fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Invitations Card -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                  <div class="card-body">
                    <a href="../invite/" class="stretched-link"></a>
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Invitation Card</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Invites & RSVP</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-person-booth fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Venue Card -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                  <div class="card-body">
                    <a href="../venue/" class="stretched-link"></a>
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Venue</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Location</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-map-marked-alt fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <!-- FAQ card -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                  <div class="card-body">
                    <a href="../faqs/" class="stretched-link"></a>
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">FAQs</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Question</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-question-circle fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Content Row -->

            <div class="row">

              <!-- Area Chart -->
              <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Total RSVP</h6>
                    <div class="dropdown no-arrow">
                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <!-- <div class="chart-area"> -->
                      <!--   <canvas id="myAreaChart"></canvas> -->
                      <!-- </div> -->
                    <div class="gallery">
                      <ul class="gallery-filter js-filter">
                        <li class="active"><a href="#" data-filter=".all">All</a></li>
                        <li><a href="#" data-filter=".cat1">Cat 1</a></li>
                        <li><a href="#" data-filter=".cat2">Cat 2</a></li>
                      </ul>
                      <ul class="gallery-list js-gallery">
                        <li class="gallery-item all cat1"><a href="https://dummyimage.com/800x1200" data-original-width="800" data-original-height="1200" data-caption="Test 1"><img src="https://dummyimage.com/400x600" width="400" height="600" alt=""></a></li>
                        <li class="gallery-item all cat2"><a href="https://dummyimage.com/1200x800" data-original-width="1200" data-original-height="800" data-caption="Test 2"><img src="https://dummyimage.com/600x400" width="600" height="400" alt=""></a></li>
                        <li class="gallery-item all cat2"><a href="https://dummyimage.com/800x1200" data-original-width="800" data-original-height="1200"><img src="https://dummyimage.com/400x600" width="400" height="600" alt=""></a></li>
                        <li class="gallery-item all cat1"><a href="https://dummyimage.com/1200x800" data-original-width="1200" data-original-height="800"><img src="https://dummyimage.com/600x400" width="600" height="400" alt=""></a></li>
                        <li class="gallery-item all cat2"><a href="https://dummyimage.com/800x1200" data-original-width="800" data-original-height="1200"><img src="https://dummyimage.com/400x600" width="400" height="600" alt=""></a></li>
                        <li class="gallery-item all cat1"><a href="https://dummyimage.com/1200x800" data-original-width="1200" data-original-height="800"><img src="https://dummyimage.com/600x400" width="600" height="400" alt=""></a></li>
                        <li class="gallery-item all cat1"><a href="https://dummyimage.com/800x800" data-original-width="800" data-original-height="800"><img src="https://dummyimage.com/400x400" width="400" height="400" alt=""></a></li>
                      </ul>
                      <!-- Root element of PhotoSwipe. Must have class pswp. -->
                      <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                        <!-- Background of PhotoSwipe.
                             It's a separate element as animating opacity is faster than rgba(). -->
                        <div class="pswp__bg"></div>

                        <!-- Slides wrapper with overflow:hidden. -->
                        <div class="pswp__scroll-wrap">

                          <!-- Container that holds slides.
                               PhotoSwipe keeps only 3 of them in the DOM to save memory.
                               Don't modify these 3 pswp__item elements, data is added later on. -->
                          <div class="pswp__container">
                            <div class="pswp__item"></div>
                            <div class="pswp__item"></div>
                            <div class="pswp__item"></div>
                          </div>

                          <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                          <div class="pswp__ui pswp__ui--hidden">

                            <div class="pswp__top-bar">

                              <!--  Controls are self-explanatory. Order can be changed. -->

                              <div class="pswp__counter"></div>

                              <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                              <button class="pswp__button pswp__button--share" title="Share"></button>

                              <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                              <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                              <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                              <!-- element will get class pswp__preloader--active when preloader is running -->
                              <div class="pswp__preloader">
                                <div class="pswp__preloader__icn">
                                  <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                              <div class="pswp__share-tooltip"></div>
                            </div>

                            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                            </button>

                            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                            </button>

                            <div class="pswp__caption">
                              <div class="pswp__caption__center"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End pswp class -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        {% include base/footer.tpl %}
        <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    {% include base/logout_modal.tpl %}

    {% include base/common_scripts.tpl %}
    <!-- Page level plugins -->
    <script src="{{ static_url('vendor/isotope/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ static_url('vendor/chart.js/Chart.min.js') }}"></script>
    <!-- Photoswipe file -->
    <script src="{{ static_url('vendor/photoswipe/js/photoswipe.min.js') }}"></script>
    <script src="{{ static_url('vendor/photoswipe/js/photoswipe-ui-default.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ static_url('js/demo/chart-area-demo.js') }}"></script>
    <script src="{{ static_url('js/demo/chart-pie-demo.js') }}"></script>
    <script>
      (function($) {
          var $gallery = $('.js-gallery');
          var $filter  = $('.js-filter');
          var $isotope = $gallery.isotope();

          var filter  = '.all';
          var items   = [];
          var options = {
              getThumbBoundsFn: function(index) {
                  var _img    = $gallery.find(filter).eq(index).find('img')[0];
                  var _rect   = _img.getBoundingClientRect();
                  var _scroll = window.pageYOffset || document.documentElement.scrollTop;
                  return {x:_rect.left, y:_rect.top + _scroll, w:_rect.width};
              },
          };

          // Generate PID (Use for history)
          $gallery.find('.gallery-item').each(function(i, el) {
              var index = i+1; // Do this fo
              var $link = $(el).find('a');
              $link.attr('data-pid', index);
          });

          // Update Items on loaded
          updateItems(filter);

          // Bind click event to a tag for get index then open Gallery
          $gallery.on('click', 'a', function(event) {
              event.preventDefault();

              options.index = $(this).parent('.gallery-item').index(filter);
              openGallery(items, options);
          });

          // Bind click event to a tag for filter gallery by isotope then update items object
          $filter.on('click', 'a', function(event) {
              event.preventDefault();

              filter = this.dataset.filter;
              $isotope.isotope({
                  filter: filter
              });
              updateItems(filter);

              $(this).parent('li').addClass('active').siblings().removeClass('active');
          });

          // Open image from hash
          if (window.location.hash) {
              var hash = window.location.hash;
              var params = hash.split('&');
              var pid;
              params.forEach(function(el, i) {
                  var param = el.split('=');
                  if (param[0] === 'pid') {
                      pid = param[1];
                  }
              });
              options.index = Number(pid - 1);
              openGallery(items, options);
          }

          // Open gallery with items object and options
          function openGallery(items, options) {
              var markup = $('.pswp').get(0);
              var gallery = new PhotoSwipe( markup, PhotoSwipeUI_Default, items, options);
              gallery.init();
          }

          // Update items object with filter select by class
          function updateItems(selector) {
              items = [];
              $gallery.find(selector).each(function(idx, el) {
                  var _link   = $(el).find('a').get(0);
                  var source  = _link.href;
                  var width   = _link.dataset.originalWidth;
                  var height  = _link.dataset.originalHeight;
                  var caption = _link.dataset.caption;
                  var pid             = _link.dataset.pid;
                  var item    = {
                      src: source,
                      w: width,
                      h: height,
                      title: caption,
                      msrc: source,
                      pid: pid,
                  }
                  items.push(item);
              });
          }
      })(jQuery);
    </script>
  </body>

</html>
