<html>
  <head>
    <meta name="description" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    {% include base/common_css.tpl %}

    <!-- Cusotm style for tabulator-->
    <link href="{{ static_url('css/tabulator.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/tabulator_bootstrap4.min.css') }}" rel="stylesheet">
  </head>

  <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      {% include base/sidebar.tpl %}
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          {% include base/navbar.tpl %}
          <!-- Start this page's content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Tables</h1>
            <p class="mb-4">Example of using Tabulator</p>

            <!-- Table -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <i class="fas fa-filter"></i>
                      </span>
                    </div>
                    <input type="text" id="filter" class="form-control" placeholder="Filter.." aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <!-- Actual table -->
                  <div id="tabulator-example"></div>
                </div>
                <div class="table-controls-legend">Download Controls</div>
                <div class="table-controls">
                  <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="download-csv">Download CSV</button>
                  <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="download-json">Download JSON</button>
                  <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="download-xlsx">Download XLSX</button>
                  <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="download-pdf">Download PDF</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of this page's content-->
        <!-- Footer -->
        {% include base/footer.tpl %}
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    {% include base/logout_modal.tpl %}

    {% include base/common_scripts.tpl %}
    <!-- Page level plugins -->
    <!-- Page level custom scripts -->
    <!-- For exporting json data to xlsx format -->
    <script type="text/javascript" src="{{ static_url('js/xlsx.full.min.js') }}"></script>
    <!-- For allowing export to PDF-->
    <script type="text/javascript" src="{{ static_url('js/jspdf.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/jspdf.plugin.autotable.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/tabulator.min.js') }}"></script>
    <script>
      var table = new Tabulator("#tabulator-example", {
          ajaxConfig: {
              dataType: 'json',
              method: 'GET',
              crossDomain: true,
              headers: {
                  "Content-type": 'application/json; charset=utf-8',
              },
          },
          ajaxContentType:"json",
          ajaxURL: "http://192.168.10.114:8080/update_record/",
          ajaxResponse: function(url, params, response){
              return response.data;
          },
          height:317,
          placeholder:"Placeholder Data",
          layout:"fitColumns",
          groupBy: "gender",
          responsiveLayout:"hide",
          tooltips:true,
          addRowPos:"top",
          history:true,
          pagination:"local",
          paginationSize:7,
          movableColumns:true,
          resizableRows:true,
          initialSort:[
              {column:"name", dir:"asc"},
          ],
          columns:[
              {title: "Id", field: "id", minWidth:20},
              {title:"Name", field:"name", editor:"input", minWidth:80},
              //{title:"Task Progress", field:"progress", minWidth:80, Height:2, align:"left", formatter:"progress", editor:true},
              {title:"Gender", field:"gender", width:95, editor:"select", editorParams:{values:["male", "female"]}},
              {title:"Rating", field:"rating", formatter:"star", align:"center", width:100, editor:true},
              {title:"Color", field:"col", width:130, editor:"input"},
              {title:"Date Of Birth", field:"dob", width:130, sorter:"date", align:"center"},
              {title:"Driver", field:"car", width:90,  align:"center", formatter:"tickCross", sorter:"boolean", editor:true},
          ],
          cellEdited: function(cell) {
              var datax  = cell.getData();
              var fields = cell.getField();
              console.log("This data was changed: " + JSON.stringify(datax));
              console.log("Fields modified: " + fields);
              $.ajax({
                  type: "POST",
                  url: "http://192.168.10.114:8080/update_record/",
                  data: JSON.stringify(datax),
                  success: function(response){
                      alert("Succeeded in sending data to backend server: " + JSON.stringify(response));
                  },
                  error: function(response){
                      alert("Error sending data to backend server: " + JSON.stringify(response));
                  }
              });
          }
      });

      $("#tabulator-controls input[name=name]").on("keyup", function(){
          table.setFilter( "name", "like", $(this).val())
      });

      $("#tabulator-controls  button[name=hide-col]").on("click", function(){
          $(this).toggleClass("col-hide");

          if($(this).hasClass("col-hide")){
              table.showColumn("rating");
          }else{
              table.hideColumn("rating");
          }
      });

      $("#tabulator-controls button[name=undo]").on("click", function(){
          table.undo();
      });

      $("#tabulator-controls  button[name=add-row]").on("click", function(){
          table.addRow({});
      });

      //trigger download of data.csv file
      $("#download-csv").click(function(){
          table.download("csv", "data.csv");
      });

      //trigger download of data.json file
      $("#download-json").click(function(){
          table.download("json", "data.json");
      });

      //trigger download of data.xlsx file
      $("#download-xlsx").click(function(){
          table.download("xlsx", "data.xlsx", {sheetName:"My Data"});
      });

      //trigger download of data.pdf file
      $("#download-pdf").click(function(){
          table.download("pdf", "data.pdf", {
              orientation:"portrait", //set page orientation to portrait
              title:"Example Report", //add title to report
          });
      });

      // Filtering data instantly
      var input = document.getElementById("filter");

      input.addEventListener("keyup", function(){
          var filters = [];
          var columns = table.getColumns();
          var search = input.value;

          columns.forEach(function(column){
              filters.push({
                  field:column.getField(),
                  type:"like",
                  value:search,
              });
          });

          table.setFilter([filters]);
      });
    </script>
  </body>
</html>
